<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
	<link rel="shortcut icon" href="<%= ENV['BRAND_FAVICON_URL'] %>"  />
</head>
<body>
	<img class="pure-img zendesk-export-authentication" src="<%= ENV['BRAND_IMAGE_URL'] %>">
	<% if flash[:notice] %>
	<div id="flash"><a href="<%= ENV['EMAIL_LOGIN_URL'] %>" target="_blank" class="pure-button pure-button-primary"><%= flash[:notice] %></a></div>
	<% end %>
	<form class="pure-form" action="/create" method="POST">
	    <fieldset>
	        <legend>Download All Zendesk Tickets</legend>

	        <input type="email" placeholder="Thread Email" name="user">
	        <input type="password" placeholder="Api Key" name="apiKey">
	        <button type="submit" class="pure-button pure-button-primary">Download</button>
	    </fieldset>
	</form>

	<a href="https://<%= ENV['ZENDESK_BASE'] %>.zendesk.com" target="_blank" class="button-success pure-button">Zendesk</a>
	
</body>
</html>